
#real-alert {background-color: orangered; color:white; padding: 10px; border: 2px solid darkorange; text-decoration: black;}

#test-only{background-color: darkgreen; color:white; padding: 10px; border: 2px solid darkgreen; text-decoration: navajowhite;}